In [11]:
import pandas as pd

# Load the CSV file into a DataFrame
csv_path = 'Data/Florian_Wirtz_eigentlich_noch_was_mit_der_v2.csv'
data_df = pd.read_csv(csv_path)

# Combine 'Department' and 'Program' into a new column for unique combinations
data_df['Dept_Program'] = data_df['Department'] + " " + data_df['Program']

# Get unique combinations
unique_dept_programs = data_df['Dept_Program'].unique()



# Process the unique combinations to modify based on program type and format them
processed_dept_programs = []
for combo in unique_dept_programs:
    if isinstance(combo, str):  # Check if the item is a string
        if "PG Taught" in combo:
            department = combo.replace(" PG Taught", "")
            new_combo = "MSc in " + department
            processed_dept_programs.append(new_combo)
        elif "UG Degree" in combo:
            # Skip adding to list since we're dropping BSc entries
            continue

# Output the processed unique department and programme combinations
processed_dept_programs

['MSc in Accounting',
 'MSc in Economic History',
 'MSc in Economics',
 'MSc in European Institute',
 'MSc in Finance',
 'MSc in Gender Studies',
 'MSc in Geography And Environment',
 'MSc in Government',
 'MSc in Health Policy',
 'MSc in International Development',
 'MSc in International Relations',
 'MSc in Law School',
 'MSc in Management',
 'MSc in Mathematics',
 'MSc in Media And Communications',
 'MSc in Methodology',
 'MSc in Philosophy Logic And Scientific Method',
 'MSc in Psychological And Behavioural Science',
 'MSc in School of Public Policy',
 'MSc in Social Policy',
 'MSc in Sociology',
 'MSc in Statistics',
 'MSc in Anthropology',
 'MSc in International History',
 'MSc in School Of Public Policy',
 'MSc in Media And Communication',
 'MSc in Mathematics  Social Policy',
 'MSc in International..',
 'MSc in Anthropology  Economics',
 'MSc in Accounting  Accounting',
 'MSc in Psychologic..  School Of Pu..',
 'MSc in Management  Social Policy',
 'MSc in Sociology  Statistics',
 'MSc in Mathematics  Mathematics',
 'MSc in Law School  Sociology']

In [21]:
import pandas as pd

# Load the CSV file containing the tuition fees and program data
output_csv_path = 'Data/2020_Fees.csv'  # Adjust path as necessary
csv_path = 'Data/Florian_Wirtz_eigentlich_noch_was_mit_der_v2.csv'  # Adjust path as necessary

data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
data_df = pd.read_csv(csv_path)

# Combine 'Department' and 'Program' into a new column for unique combinations
data_df['Dept_Program'] = data_df['Department'] + " " + data_df['Program']

# Get unique combinations
unique_dept_programs = data_df['Dept_Program'].unique()

# Process only Master's programs
processed_dept_programs = []
for combo in unique_dept_programs:
    if isinstance(combo, str):  # Check if the item is a string
        if "PG Taught" in combo:
            department = combo.replace(" PG Taught", "")
            # Simplify department name if it contains "And"
            if "And" in department:
                department = department.split("And")[0].strip()
            new_combo = "MSc in " + department
            processed_dept_programs.append(new_combo)

# Create DataFrame from processed list
processed_df = pd.DataFrame(processed_dept_programs, columns=['Dept_Program'])

def find_matching_data(dept_program):
    # Simplify department name further if needed for matching
    simplified_dept_program = dept_program.replace("MSc in ", "")
    matches = data_df_one[data_df_one.iloc[:, 0].str.contains(simplified_dept_program, na=False)]
    if not matches.empty:
        col2_values = []
        col3_values = []
        for _, row in matches.iterrows():
            # Process and clean fee data for averaging
            try:
                cleaned_value_col2 = int(str(row[1]).replace('£', '').replace(',', ''))
                col2_values.append(cleaned_value_col2)
            except ValueError:
                col2_values.append(pd.NA)
            try:
                cleaned_value_col3 = int(str(row[2]).replace('£', '').replace(',', ''))
                col3_values.append(cleaned_value_col3)
            except ValueError:
                col3_values.append(pd.NA)
        
        # Calculate averages while ignoring N/A values
        avg_col2 = pd.Series(col2_values).dropna().mean()
        avg_col3 = pd.Series(col3_values).dropna().mean()
        return pd.Series([avg_col2, avg_col3])
    return pd.Series([pd.NA, pd.NA])

# Apply the function to find and average matching tuition fees
processed_df[['Avg_Value_2nd_Column', 'Avg_Value_3rd_Column']] = processed_df['Dept_Program'].apply(find_matching_data)

# Display the final DataFrame
processed_df

/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_72298/1028667531.py:7: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
/var/folders/w_/ccm86j116md1g5bmpdbhyv5r0000gn/T/ipykernel_72298/1028667531.py:7: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data_df_one = pd.read_csv(output_csv_path, error_bad_lines=False, warn_bad_lines=True)
Skipping line 244: expected 5 fields, saw 8
Skipping line 245: expected 5 fields, saw 8
Skipping line 246: expected 5 fields, saw 8
Skipping line 247: expected 5 fields, saw 8
Skipping line 248: expected 5 fields, saw 8
Skipping line 249: expected 5 fields, saw 8
Skipping line 250: expected 5 fields, saw 9
Skipping line 251: expected 5 fields, saw 9
Skipping line 252: expected 5 fields, saw 9
Skipping line 253: expected 5 fields, saw 9
Skipping line 254: expected 5 fields, saw 9
Skipping line 255: expected 5 fields, saw 9
Skipping line 256: expected 5 fields, saw 9
Skipping line 257: expected 5 fields, saw 9
Skipping line 258: expected 5 fields, saw 9
Skipping line 259: expected 5 fields, saw 9
Skipping line 260: expected 5 fields, saw 9
Skipping line 261: expected 5 fields, saw 9
Skipping line 262: expected 5 fields, saw 9
Skipping line 263: expected 5 fields, saw 9
Skipping line 264: expected 5 fields, saw 9
Skipping line 265: expected 5 fields, saw 9
Skipping line 266: expected 5 fields, saw 9
Skipping line 267: expected 5 fields, saw 9
Skipping line 268: expected 5 fields, saw 9
Skipping line 269: expected 5 fields, saw 9
Skipping line 270: expected 5 fields, saw 9
Skipping line 271: expected 5 fields, saw 9

,Dept_Program,Avg_Value_2nd_Column,Avg_Value_3rd_Column
0,MSc in Accounting,28080.0,28464.0
1,MSc in Economic History,14640.0,22608.0
2,MSc in Economics,23179.0,24134.2
3,MSc in European Institute,<NA>,<NA>
4,MSc in Finance,28969.5,29185.5
5,MSc in Gender Studies,<NA>,<NA>
6,MSc in Geography,14640.0,22608.0
7,MSc in Government,NaN,NaN
8,MSc in Health Policy,18160.0,25768.0
9,MSc in International Development,14640.0,22608.0
10,MSc in International Relations,19452.0,23436.0
11,MSc in Law School,<NA>,<NA>
12,MSc in Management,28441.636364,28703.454545
13,MSc in Mathematics,21912.0,26184.0
14,MSc in Media,20616.0,22608.0
15,MSc in Methodology,<NA>,<NA>
16,MSc in Philosophy Logic,<NA>,<NA>
17,MSc in Psychological,<NA>,<NA>
18,MSc in School of Public Policy,<NA>,<NA>
19,MSc in Social Policy,<NA>,<NA>
20,MSc in Sociology,14640.0,22608.0
21,MSc in Statistics,24336.0,27376.0
22,MSc in Anthropology,17296.0,22608.0
23,MSc in International History,<NA>,<NA>
24,MSc in School Of Public Policy,<NA>,<NA>
25,MSc in Media,20616.0,22608.0
26,MSc in Mathematics Social Policy,<NA>,<NA>
27,MSc in International..,19470.153846,23732.923077
28,MSc in Anthropology Economics,<NA>,<NA>
29,MSc in Accounting Accounting,<NA>,<NA>
30,MSc in Psychologic.. School Of Pu..,<NA>,<NA>
31,MSc in Management Social Policy,<NA>,<NA>
32,MSc in Sociology Statistics,<NA>,<NA>
33,MSc in Mathematics Mathematics,<NA>,<NA>
34,MSc in Law School Sociology,<NA>,<NA>