In [10]:
import requests
import pandas as pd
import tabula
import jpype


# URL of the PDF download link
#pdf_download_url = "https://public.tableau.com/vizql/w/ApplicationsOffersandEntrants/v/About/tempfile/sessions/6CFB072D66F548F0BD680B6D8269BD44-0:0/?key=2889495739&keepfile=yes&attachment=yes"
#pdf_download_url = "https://public.tableau.com/vizql/w/LSEStatisticsonStudents/v/TableA/tempfile/sessions/E54A8D2F36614981A37995A0DF6C69BC-0:0/?key=674594458&keepfile=yes&attachment=yes"
# Send a GET request to download the PDF file
#response = requests.get(pdf_download_url)

# Save the content of the response to a file with .pdf extension
file_path = "Data/LSE_Students_acceptance_program_v1.pdf"
#with open(file_path, "wb") as f:
#    f.write(response.content)

# Extract the table from the PDF file
tables = tabula.read_pdf(file_path, pages=1, multiple_tables=True)

# Check if any tables are extracted
if tables:
    # Concatenate all tables into one DataFrame if there are multiple
    combined_table = pd.concat(tables, ignore_index=True)
    
    # Save the combined table to a CSV file
    csv_file = "Data/table_v1.csv"
    combined_table.to_csv(csv_file, index=False)
    print(f"Table saved to {csv_file}")
else:
    print("No table found in the PDF file.")

# Load and display the saved CSV file to verify its contents
# table_headcount = pd.read_csv('data/table.csv')
# table_headcount

Table saved to Data/table_v1.csv

In [12]:
combined_table

,Unnamed: 0,2019/20 2020/21,2021/22,2022/23,2023/24,Unnamed: 1
0,Nationality,Department.. Programme.. Apps Offe.. Entr.. Ap...,NaN,NaN,NaN,NaN
1,Afghan,Accounting UG Degree 0 0 0 * *,0 * 0,0 * *,0 6 0,0
2,NaN,PG Taught * 0 0 0 0,0 0 0,0 * 0,0 0 0,0
3,NaN,Anthropology UG Degree * 0 0 * 0,0 0 0,0 0 0,0 * *,0
4,NaN,Economic UG Degree * 0 0 * 0,0 * *,0 0 0,0 * 0,0
5,NaN,History PG Taught * 0 0 0 0,0 0 0,0 0 0,0 0 0,0
6,NaN,Economics UG Degree 0 0 0 * 0,0 * 0,0 * 0,0 * 0,0
7,NaN,PG Taught 0 0 0 * 0,0 * 0,0 * 0,0 0 0,0
8,NaN,European In.. PG Taught * 0 0 0 0,0 0 0,0 * *,* * 0,0
9,NaN,Finance UG Degree * 0 0 0 0,0 0 0,0 0 0,0 0 0,0
10,NaN,PG Taught * 0 0 0 0,0 * 0,0 8 0,0 5 0,0
11,NaN,Gender Stud.. PG Taught * * * * *,0 * 0,0 * *,* * *,0
12,NaN,Geography UG Degree 0 0 0 0 0,0 0 0,0 0 0,0 * 0,0
13,NaN,and Environ.. PG Taught * 0 0 0 0,0 * *,0 * *,0 6 *,*
14,NaN,Government UG Degree * * 0 * 0,0 * *,0 0 0,0 * 0,0
15,NaN,PG Taught 7 0 0 5 0,0 * 0,0 * 0,0 * *,0
16,NaN,Health Policy PG Taught 0 0 0 0 0,0 * 0,0 0 0,0 * 0,0
17,NaN,International.. PG Taught 8 * 0 * *,0 5 *,0 * 0,0 19 0,0
18,NaN,International UG Degree * 0 0 0 0,0 0 0,0 * 0,0 * 0,0
19,NaN,Relations PG Taught * 0 0 * *,0 * 0,0 * *,0 * *,0
20,NaN,Law School UG Degree * 0 0 * *,0 0 0,0 * *,0 * 0,0
21,NaN,PG Taught * 0 0 0 0,0 * 0,0 0 0,0 * 0,0
22,NaN,Management UG Degree * 0 0 0 0,0 0 0,0 * 0,0 * 0,0
23,NaN,PG Taught * * 0 * 0,0 5 *,0 5 *,* * 0,0
24,NaN,Mathematics UG Degree * 0 0 0 0,0 0 0,0 * *,* 0 0,0
25,NaN,PG Taught 0 0 0 0 0,0 0 0,0 0 0,0 * *,*
26,NaN,Media and C.. PG Taught * * 0 * 0,0 0 0,0 * 0,0 0 0,0
27,NaN,Methodology PG Taught * 0 0 * 0,0 0 0,0 0 0,0 * *,0
28,NaN,"Philosophy, UG Degree 0 0 0 * 0",0 0 0,0 0 0,0 * 0,0
29,NaN,Logic and S.. PG Taught 0 0 0 0 0,0 0 0,0 * *,0 0 0,0
30,NaN,Psychologic.. PG Taught 0 0 0 0 0,0 * 0,0 0 0,0 0 0,0
31,NaN,School of Pu.. PG Taught 5 * 0 * *,0 * *,0 5 *,0 * *,0
32,NaN,Social Policy UG Degree 0 0 0 0 0,0 * 0,0 0 0,0 0 0,0
33,NaN,PG Taught * 0 0 * *,0 0 0,0 * 0,0 * *,0
34,NaN,Sociology PG Taught 0 0 0 * *,* 0 0,0 6 *,* * 0,0
35,NaN,Statistics UG Degree 0 0 0 0 0,0 * 0,0 * 0,0 * 0,0
36,NaN,PG Taught * 0 0 0 0,0 0 0,0 * 0,0 * *,0
37,Albanian,Accounting UG Degree 7 0 0 * 0,0 6 *,0 8 *,0 * 0,0
38,NaN,PG Taught * * * * *,* * *,0 * *,* * *,*
39,NaN,Anthropology UG Degree 0 0 0 0 0,0 * 0,0 * 0,0 0 0,0
40,NaN,PG Taught 0 0 0 0 0,0 * *,0 0 0,0 0 0,0
41,NaN,Economic UG Degree 0 0 0 * 0,0 * 0,0 0 0,0 * 0,0
42,NaN,History PG Taught 0 0 0 0 0,0 0 0,0 * *,0 * *,0
43,NaN,Economics UG Degree 5 0 0 6 *,* * *,* * 0,0 * 0,0
44,NaN,PG Taught * * 0 * 0,0 * 0,0 * *,0 * *,0
45,NaN,European In.. PG Taught * 0 0 5 *,* 0 0,0 * 0,0 * *,0
46,NaN,Finance UG Degree 0 0 0 * 0,0 * 0,0 * *,0 * 0,0
47,NaN,PG Taught 5 * * 6 0,0 8 0,0 6 *,0 0 0,0
48,NaN,Geography UG Degree 0 0 0 0 0,0 0 0,0 0 0,0 * 0,0
49,NaN,and Environ.. PG Taught * 0 0 0 0,0 * *,0 * *,0 0 0,0
50,NaN,Government UG Degree * * 0 * *,* * 0,0 * 0,0 * *,0
51,NaN,PG Taught * 0 0 * 0,0 * 0,0 * *,0 * 0,0